:root {
  --primary-color: #3B9EC8; /* cyan */
  --secondary-color: #09116D; /* dark blue */
  --tertiary-color: #7854DC; /* purple */
  --neutral-color: #F6F6F6;  /* strong white */
  --white: #FFFFFF;
  --black: #000000;
}

footer{
  background-color: var(--secondary-color);
  color: var(--white);
}