@import '../../style/variables.scss';

nav{
    display: flex;
    justify-content: space-between;
    height: auto;
}

.logo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    transform: translateY(-80px) translateX(-110px);
}

.logo > *{
    grid-column: 1;
    grid-row: 1;
}

.logo .void-box{
    background-color: transparent;
    min-width: 340px;
    width: 20vw;
    height: 22vh;
    border: 1px solid $white;
    border-radius: 47px;
    transform: translateY(20px);
}

.logo .white-box{
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: $white;
    min-width: 340px;
    width: 20vw;
    height: 22vh;
    border: 1px solid $white;
    border-radius: 47px;
}

.white-box img{
    width: 50%;
    height: 60%;
}

.nav-buttons{
    display: flex;
    gap: 20px;
    padding: 1rem;
    height: auto;
}

.nav-buttons button{
    background-color: $dark-blue;
    color: $white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}