@import '../../style/variables.scss';


.section-principal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center;
    
}

.perfil-container{
    background: $purple;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    color: $white;
    display: grid;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    margin-bottom: 20px;
    
}

.section-perfil{
    
    display: flex;
    align-items: center;
    
}

.profile-img-2{
width: 100px;
height: 100px;
-webkit-box-shadow: -10px 20px 0px -11px $white;
-moz-box-shadow: -10px 20px 0px -11px $white;
box-shadow: -10px 20px 0px -11px $white;
border-radius: 30px;
}

.about-my{
    font-size: 20px;
}

.phrase{
font-size: 15px;

    
}

.div-button{
    display: grid;
    justify-items: end;
    margin-top: 10px;
}

.button-profile{
background-color: $dark-blue;
color: $white;
cursor: pointer;
padding: 10px;
border: none;
width: 100px;
border-radius: 10px 0px 10px 10px;

}