@import '../../style/variables.scss';

.forum-crud-modal {
    position: fixed; /* Position it fixed to cover the entire viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it is on top of other elements */
}

.overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(49, 49, 49, 0.8);
}

.forum-crud-modal .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1001;
}

.action-buttons{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.action-buttons button{
    border-radius: 10px;
}

.overlay .container{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#create-post-title{
    width: 100%;
    border-bottom: 1px solid grey;
}

.header-inputs{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-around;
}

.input-content input{
    width: 100%;
}

#cancel-button{
    background-color: $grey;
    color: $black;
}